body {
  background-color: beige;
}

.home-page {
  display: flex;
  flex-wrap: wrap;
}

.nav-bar {
  display: inline-flex;
  width: 1200px;
  align-items: center;
  height: 100px;
  border-bottom: 1px solid #e2bdad;
}

.nav-bar-1 {
  padding: 2%;
  width: 7%;
}

#img-1 {
  width: 90px;
  height: 90px;
  border: 2px solid #D1A699;
  border-radius: 50%;

}

.nav-bar-2 {
  padding-left: 1%;
  padding-right: 2%;
  padding-top: 2%;
  padding-bottom: 2%;
  width: 40%;
}

.nav-bar-3,
.nav-bar-4,
.nav-bar-5,
.nav-bar-6 {
  padding-left: 5%;
  width: 10%;
}

#title {
  font-size: 30px;
  font-weight: 500;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin: 0px;
  color: #9C6F5C;
}

#home,
#about,
#contact {
  font-size: 18px;
  color: #9C6F5C;

}

#home:hover,
#about:hover,
#contact:hover {
  box-shadow: 2px 4px 8px #D1A699;
}

#login-button {
  background-color: #D1A699;
  height: 20px;
  width: 50px;
  border-style: none;
  color: #9C6F5C;
  box-shadow: 5px 5px 15px #D1A699;
}

a {
  text-decoration: none;
}

.about-us {
  display: inline-flex;
  width: 1200px;
  align-items: center;
  margin-top: 2%;
  background-color: #D1A699;
  height: 380px;
  margin-left: 2%;
}

.about-us-1 {
  width: 50%;
}

.about-us-1 p {
  font-size: 45px;
  padding-right: 0;
  color: #563c31;
  font-weight: 600;
  padding-left: 60%;
}

#enjoy {
  width: 500px;
  height: 300px;
  border: 1px solid beige;
  border-radius: 5%;

}

.about-us-p p {
  padding-left: 20%;
  padding-right: 20%;
  padding-bottom: 20%;
  font-size: 20px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #9C6F5C;
  height: 70%;
}

#span-c {
  font-size: 35px;
  color: #563c31;
}