body {
  background-color: beige;
}

.home-page {
  display: flex;
  flex-wrap: wrap;
}

.nav-bar {
  display: inline-flex;
  width: 1200px;
  align-items: center;
  height: 100px;
  border-bottom: 1px solid #e2bdad;
}

.nav-bar-1 {
  padding: 2%;
  width: 7%;
}

#img-1 {
  width: 90px;
  height: 90px;
  border: 2px solid #D1A699;
  border-radius: 50%;

}

.nav-bar-2 {
  padding-left: 1%;
  padding-right: 2%;
  padding-top: 2%;
  padding-bottom: 2%;
  width: 40%;
}

.nav-bar-3,
.nav-bar-4,
.nav-bar-5,
.nav-bar-6 {
  padding-left: 5%;
  width: 10%;
}

#title {
  font-size: 30px;
  font-weight: 500;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin: 0px;
  color: #9C6F5C;
}

#home,
#about,
#contact {
  font-size: 18px;
  color: #9C6F5C;

}

#home:hover,
#about:hover,
#contact:hover {
  box-shadow: 2px 4px 8px #D1A699;
}

#login-button {
  background-color: #D1A699;
  height: 20px;
  width: 50px;
  border-style: none;
  color: #9C6F5C;
  box-shadow: 5px 5px 15px #D1A699;
}

a {
  text-decoration: none;
}

.contact-us {
  display: inline-flex;
  width: 1200px;
  margin-top: 5%;
}

.contact-us-1 {
  width: 30%;
  background-color: #c9a59b;
  margin-left: 20%;
  padding-left: 10%;
  height: 300px;
  border: 1px none beige;
  border-radius: 4%;

}

.contact-us-1 input {
  padding-left: 3%;
  margin-bottom: 2%;
  height: 35px;
  border-style: none;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 18px;
  color: #6a4130;
  border-radius: 3%;
}

#name {
  background: url("picture/person.png") no-repeat 10px center;
  background-size: 20px;
  padding-left: 40px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: beige;

}

#email {
  background: url("picture/mail.png") no-repeat 10px center;
  background-size: 20px;
  padding-left: 40px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: beige;
}

#message {
  background: url("picture/message.png") no-repeat 10px center;
  background-size: 20px;
  padding-left: 40px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: beige;
}

.contact-us-1 button {
  background-color: beige;
  border: 1px none #D1A699;
  font-size: 16px;
  color: #9C6F5C;
  padding-left: 3%;
  height: 30px;
  width: 30%;
  align-content: center;
  border-radius: 5%;
}

.contact-us-1 button:hover {
  box-shadow: 5px 5px 15px #895646;
}

.contact-us-1 p {
  font-size: 35px;
  font-weight: 600;
  color: #6a4130;
}

.contact-us-2 {
  width: 50%;
}

#contact-img {
  width: 70%;
  height: 300px;
  border: 1px none beige;
  border-radius: 4%;
}