body {
  background-color: beige;
}

.main {
  width: 1200px;
  display: grid;
  justify-content: center;
}

.title {
  display: inline-flex;

  align-items: center;
}

.Checkout {
  display: grid;
  justify-content: end;
}

#checkout-btn {
  background-color: #D1A699;
  height: 40px;
  border: 1px solid beige;
  font-size: 15px;
  width: 150px;
  font-weight: bold;
  box-shadow: 10px 5px 10px #eebaaa;
  color: #4e2e22;
  padding-bottom: 1%;
}

#cart-img {
  height: 20px;
  width: 20px;
}

#your-order {
  font-size: 40px;
  color: #9C6F5C;
  margin-left: 40%;
  margin-top: 5%;
  width: 17vw;
}

.order-list-1,
.order-list-2 {
  display: inline-flex;
  width: 1200px;
}

#drink-list,
#knoodle-list {
  font-size: 22px;
  color: #9C6F5C;
  margin-left: 18vw;
  margin-bottom: 1%;
  width: 30%;
  background-color: rgb(236, 236, 210);
  border: 1px solid #eac4b3;
  padding-left: 3%;
  margin-right: 1%;
}

#appetizer-list,
#main-dish-list {
  font-size: 22px;
  color: #9C6F5C;
  padding-left: 3%;
  width: 30%;
  margin-bottom: 1%;
  margin-right: 1%;
  background-color: rgb(236, 236, 210);
  border: 1px solid #eac4b3;

}

.question {
  /*margin-left: 30%;
  margin-top: 5%;*/
  display: grid;
  justify-content: center;
}

.question p {
  font-size: 30px;
  color: #9C6F5C;
}

#dumpling {
  width: 90px;
  height: 90px;
  border: 1px solid beige;
  border-radius: 50%;

}

.question button {

  background-color: #D1A699;
  height: 60px;
  border: 1px solid beige;
  font-size: 20px;

  margin-left: 6%;
  box-shadow: 8px 10px 10px #eebaaa;
  color: #754d3d;
}