body {
  background-color: beige;
}

.home-page {
  display: flex;
  flex-wrap: wrap;
}

.nav-bar {
  display: inline-flex;
  width: 1200px;
  align-items: center;
  height: 100px;
  border-bottom: 1px solid #e2bdad;
}

.nav-bar-1 {
  padding: 2%;
  width: 7%;
}

#img-1 {
  width: 90px;
  height: 90px;
  border: 2px solid #D1A699;
  border-radius: 50%;

}

.nav-bar-2 {
  padding-left: 1%;
  padding-right: 2%;
  padding-top: 2%;
  padding-bottom: 2%;
  width: 35%;
}

.nav-bar-3,
.nav-bar-4,
.nav-bar-5,
.nav-bar-6 {
  padding-left: 5%;
  width: 10%;
}

#title {
  font-size: 30px;
  font-weight: 500;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin: 0px;
  color: #9C6F5C;
}

#login-button {
  background-color: #D1A699;
  height: 20px;
  width: 50px;
  border-style: none;
  color: #9C6F5C;
  box-shadow: 5px 5px 15px #D1A699;
}

#login-button:hover {
  box-shadow: 5px 5px 15px #a26d5d;
}

#home,
#about,
#contact {
  font-size: 18px;
  color: #9C6F5C;

}

#home:hover,
#about:hover,
#contact:hover {
  box-shadow: 2px 4px 8px #D1A699;
}


a {
  text-decoration: none;
}

.hero-section {
  display: inline-flex;
  height: 500px;
  width: 1200px;
}

.hero-section-1 {
  width: 50%;
  padding: 2%;
}

#welcome-text {
  font-size: 80px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-style: italic;
  color: #9C6F5C;
  padding: 5%;
  text-transform: uppercase;
  background: linear-gradient(90deg, #e6aa90, #a96548, #6a2000);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}



.hero-section-2 {
  padding-left: 5%;
  padding-top: 3%;
  width: 50%;
}

#restaurant {
  width: 500px;
  height: 500px;
  border: 1px solid #D1A699;
  border-radius: 50%;
}

.reason {
  width: 100%;
  align-content: center;

}

#choose {
  font-size: 80px;
  color: #9C6F5C;
  font-weight: 400;
  padding-left: 25%;
  margin-bottom: 40px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.order {
  width: 1200px;
  padding-left: 36%;
  padding-top: 7%;
}

.order-1 {
  display: inline-flex;
  position: relative;
  animation: slideRight 2s ease-out forwards;
}

@keyframes slideRight {
  from {
    left: -200px;
    opacity: 0;
  }

  to {
    left: 0;
    opacity: 1;
  }
}

.order p {
  font-size: 33px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #9C6F5C;

}

#order-img {
  width: 90px;
  height: 90px;
  border: 1px none beige;
  border-radius: 40%;
}

#order-button {
  background-color: #D1A699;
  font-size: 26px;
  color: #9C6F5C;
  box-shadow: 5px 5px 15px #D1A699;
  border: 1px;
  border-style: none;
  border-color: beige;
  width: 100px;
  height: 40px;
  margin-left: 12%;
  border-radius: 6%;
}

#order-button:hover {
  box-shadow: 5px 5px 15px #a26d5d;
}

.reason-1,
.reason-2 {
  width: 1200px;
  display: inline-flex;
  align-content: center;
  padding: 5%;
}

.first,
.second,
.third,
.fourth {
  display: inline-flex;
  width: 50%;
  padding-left: 10%;
}

#first-img,
#second-img,
#third-img,
#fourth-img {
  width: 150px;
  height: 150px;
  border: 1px solid beige;
  border-radius: 50%;
  padding: 1%;
}

#text-1,
#text-2,
#text-3,
#text-4 {
  font-size: 22px;
  padding: 2%;
  font-weight: 200;
  color: #9C6F5C;
  justify-content: center;
}