body {
  background-color: beige;
}

.home-page {
  display: flex;
  flex-wrap: wrap;
}

.nav-bar {
  display: inline-flex;
  width: 1200px;
  align-items: center;
  height: 100px;
  border-bottom: 1px solid #e2bdad;
}

.nav-bar-1 {
  padding: 3%;
  width: 7%;
}

#img-1 {
  width: 90px;
  height: 90px;
  border: 2px solid #D1A699;
  border-radius: 50%;

}

.nav-bar-2 {
  padding-left: 1%;
  padding-right: 2%;
  padding-top: 2%;
  padding-bottom: 2%;
  width: 40%;
}

.nav-bar-3,
.nav-bar-4,
.nav-bar-5,
.nav-bar-6 {
  padding-left: 5%;
  width: 10%;
}

#title {
  font-size: 30px;
  font-weight: 500;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin: 0px;
  color: #9C6F5C;
}

#home,
#about,
#contact {
  font-size: 18px;
  color: #9C6F5C;

}

#home:hover,
#about:hover,
#contact:hover {
  box-shadow: 2px 4px 8px #D1A699;
}

#login-button {
  background-color: #D1A699;
  height: 20px;
  width: 50px;
  border-style: none;
  color: #9C6F5C;
  box-shadow: 5px 5px 15px #D1A699;
}

a {
  text-decoration: none;
}

.menu-title {
  width: 1200px;
  display: inline-flex;
  margin-top: 3%;
  padding-left: 10%;
  align-content: center;
}

.menu-title p {
  font-size: 35px;
  font-weight: 600;
  color: #9C6F5C;
  font-style: italic;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#menu-img {
  width: 80px;
  height: 80px;
  border: 1px none beige;
  border-radius: 50%;
  padding: 1%;
}

.main-menu-1,
.main-menu-2 {
  width: 1200px;
  display: flex;
}

.drinks {
  width: 40%;
  height: 270px;
  background-color: rgb(236, 236, 210);
  border: 1px solid #ccb3a9;
  border-radius: 5%;
  padding-left: 10%;
  margin-left: 10%;

}

.knoodles {
  width: 40%;
  height: 270px;
  background-color: rgb(236, 236, 210);
  border: 1px solid #ccb3a9;
  border-radius: 5%;
  padding-left: 10%;
  margin-left: 10%;
}

.appetizer {
  width: 40%;
  height: 270px;
  background-color: rgb(236, 236, 210);
  border: 1px solid #ccb3a9;
  border-radius: 5%;
  padding-left: 10%;
  margin-right: 15%;
}

.main-dishes {
  width: 40%;
  height: 270px;
  background-color: rgb(236, 236, 210);
  border: 1px solid #ccb3a9;
  border-radius: 5%;
  padding-left: 10%;
  margin-right: 15%;
}

.drink-title,
.appetizer-title,
.knoodles-title,
.main-dish-title {
  display: inline-flex;
  align-items: center;
}

#drink-img {
  height: 60px;
  width: 60px;
  padding-left: 5%;
  border: 1px none beige;
  border-radius: 50%;
}

.drink-title p,
.appetizer-title p,
.knoodles-title p,
.main-dish-title p {
  font-size: 35px;
  font-weight: 400;
  color: #9C6F5C;
  font-style: italic;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.drink-option label,
.appetizer-option label,
.knoodle-option label,
.main-dish-option label {
  font-size: 20px;
  color: #9C6F5C;
  margin-bottom: 3%;
}

input[type="checkbox"] {
  accent-color: #9C6F5C;
}

.order {
  width: 1200px;
}

#order-button {
  background-color: #D1A699;
  font-size: 15px;
  margin-left: 38%;
  width: 200px;
  height: 40px;
  border: 1px none beige;
  margin-top: 5%;
  box-shadow: 8px 10px 10px #eebaaa;
  color: #754d3d;
}

.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  z-index: 10;

}

.popup-content {
  background: white;
  padding: 20px 30px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.popup button {
  margin: 10px;
  padding: 8px 20px;
  border: none;
  background-color: #754d3d;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.popup button:hover {
  background-color: #d4a08b;
}