body {
  background-color: beige;
}

.home-page {
  display: flex;
  flex-wrap: wrap;
}

.nav-bar {
  display: inline-flex;
  width: 1200px;
  align-items: center;
  height: 100px;
  border-bottom: 1px solid #e2bdad;
}

.nav-bar-1 {
  padding: 3%;
  width: 7%;
}

#img-1 {
  width: 90px;
  height: 90px;
  border: 2px solid #D1A699;
  border-radius: 50%;

}

.nav-bar-2 {
  padding-left: 1%;
  padding-right: 2%;
  padding-top: 2%;
  padding-bottom: 2%;
  width: 40%;
}

.nav-bar-3,
.nav-bar-4,
.nav-bar-5,
.nav-bar-6 {
  padding-left: 5%;
  width: 10%;
}

#title {
  font-size: 30px;
  font-weight: 500;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin: 0px;
  color: #9C6F5C;
}

#home,
#about,
#contact {
  font-size: 18px;
  color: #9C6F5C;

}

#home:hover,
#about:hover,
#contact:hover {
  box-shadow: 2px 4px 8px #D1A699;
}

#login-button {
  background-color: #D1A699;
  height: 20px;
  width: 50px;
  border-style: none;
  color: #9C6F5C;
  box-shadow: 5px 5px 15px #D1A699;
}

a {
  text-decoration: none;
}

.menu-title {
  width: 1200px;
  display: inline-flex;
  margin-top: 3%;
  padding-left: 15%;
  align-content: center;
}

.menu-title p {
  font-size: 35px;
  font-weight: 600;
  color: #9C6F5C;
  font-style: italic;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#menu-img {
  width: 80px;
  height: 80px;
  border: 1px none beige;
  border-radius: 50%;
  padding: 1%;
}

.main-menu {
  width: 1200px;
  display: flex;
}

.drinks {
  width: 30%;
  height: 270px;
  background-color: rgb(236, 236, 210);
  border: 1px solid #ccb3a9;
  border-radius: 5%;
  padding-left: 10%;
  margin-left: 15%;

}

.appetizer {
  width: 30%;
  height: 270px;
  background-color: rgb(236, 236, 210);
  border: 1px solid #ccb3a9;
  border-radius: 5%;
  padding-left: 10%;
  margin-right: 15%;
}

.drink-title,
.appetizer-title {
  display: inline-flex;
  align-items: center;
}

#drink-img {
  height: 60px;
  width: 60px;
  padding-left: 5%;
  border: 1px none beige;
  border-radius: 50%;
}

.drink-title p,
.appetizer-title p {
  font-size: 35px;
  font-weight: 400;
  color: #9C6F5C;
  font-style: italic;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.drink-option label,
.appetizer-option label {
  font-size: 20px;
  color: #9C6F5C;
  margin-bottom: 3%;
}

input[type="checkbox"] {
  accent-color: #9C6F5C;

}